<button type="button" name="buttom" (click)="getEmployee1()">Employee1</button>
<ul class="list-group">
  <li *ngFor="let info of employee1" class="list-group-item">{{ info }}</li>
</ul>
<pre></pre>
<button type="button" name="buttom" (click)="getEmployee2()">Employee2</button>
<ul class="list-group">
  <li *ngFor="let info of employee2" class="list-group-item">{{ info }}</li>
</ul>
<pre></pre>
<button type="button" name="buttom" (click)="getEmployee3()">Employee3</button>
<ul class="list-group">
  <li *ngFor="let info of employee3" class="list-group-item">{{ info }}</li>
</ul>
